.wallet_box{
    display: inline-block;
    max-width: 20%;
  margin:   2% 10% 0% 3%;
.wallet-items{
    display: flex;
    justify-content: space-between;
    width:100%;
   
    background-color: #F4F5F6;
    border-radius: 30px;
    padding: 22px 47px 22px 46px;

    margin: 9%;
    
    .wallet_content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        
        h4{
            color:#253A4B;
            font-size:24px;
            font-family:'Montserrat';
            margin: 10px 14px 11px 0px;
            font-weight: bold;
            width: 99%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        h3{
            color:#F23B52;
            font-size:24px;
            text-overflow: ellipsis;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            font-family:'Montserrat';
            margin: 28px 0px 22px 3px;
            font-weight: bold;
     
    }
  

}
.wallet-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3%;

    color:rgb(165, 165, 165) ;
    cursor: pointer;
    .icon-display{
        color:rgb(165, 165, 165) ; 
        margin: 29%;
        
    }
}

&.wallet-items:hover{
    background-color: #F23B52;
  
  h4,h3,  .icon-display{
        color:#fff;
    }

}
}
}
.wallet_box:hover{
    h3{
        color: #fff;
    }
}


























// .wallet-title{
//     h4 {
//         font-family: 'Montserrat';
//         font-size: 48px;
//         color: rgba(37, 58, 75, 0.5);
//       }
  
// }
// .wallet-total {
//   display: flex;    
//   justify-content: space-between;

//   .wallet-section {
//     width: 100%;
//     max-width: 1170px;
//     height: 100%;
//     max-height: 25vh;
//     border: 1px solid black;
   
//     .wallet-card {
//       width: 100%;
//       max-width: 350px;
//       height: 100%;
//       max-height: 200px;
//       display: block;
//         align-items: center;
//       border-radius: 30px;
//       background-color: rgb(10, 92, 173);

//       .card-section {
//           display: block;
//           align-items: center;
//           margin: auto 0px;
//         h5 {}
//         h6{}
        
//       }
//       .card-icons {}

//     }
//   }

//   .wallet-right-section {
//     width: 100%;
//     max-width: 205px;
//     height: 100%;
//     max-height: 1056px;
//     border: 1px solid black;
  
//   }

// }
















// :root{
//     --font-family-Montserrat:'Montserrat';
// }
// .wallet_card{
//     h4{
//         color:#253A4B;
//         font-size: 48px;
//         font-family: var(--font-family-Montserrat);
//         margin-bottom:62px;
//         opacity: 0.5;
//     }
// }
// .wallet_section{
//     width:100%;
//     display: flex;
//     justify-content: space-between;
//     .card_section{
//         width:100%;
//         max-width:350px;
//         height:100%;
//         max-height: 200px;
//         display: block;
//         align-items: space-between;
//         border-radius: 30px;
//         background-color: #F4F5F6;
//         h5{
//             color:#253A4B;
//             font-family: var(--font-family-Montserrat);
//             font-size: 24px;
//         }
//         h4{
//             color:#F23B52;
//             font-family: var(--font-family-Montserrat);
//             font-size: 32px;
//             font-weight: medium;
//         }
//         &:hover
//         {
//           background-color: #f23b52;

//               h5,
//               h4 {
//                 color: #fff;
//               }
//         }

//     }
// }
