

<div class="wallet_box">
  <div class="wallet-items">
  <div class="wallet_content">
    <h4 title="{{lblName}}">{{lblName}}</h4>
    <h3>{{ lblAmount | indianCurrency }}</h3>
  </div>
    <div class="wallet-icons">
   <a href="#">   <mat-icon class="icon-display">create</mat-icon></a>
      <a href="#"><mat-icon class="icon-display">delete</mat-icon></a>
      <a href="#">  <mat-icon class="icon-display">speaker_notes</mat-icon></a>
    </div>
  </div>
</div>







































<!-- <div class="wallet-title">
  <h4>Wallets</h4>
</div>
<div class="wallet-total">
  <section class="wallet-section">
    
    <div class="wallet-card">
      <div class="card-section">
        <div>
          <h5>CASH</h5>
        </div>
        <div>
          <h6>₹ 8,500</h6>
        </div>
      </div>
     
      
    </div>
  </section>

 
</div> -->
<!-- 
 <section class="wallet_section">
  <div class="wallet_card">
    <div>
        <h4>Wallets</h4>
    </div>
    <div class="card_section">
      
        <div>
            <h5>CASH</h5>
        </div>
        <div>
            <h4>₹ 8,500</h4>
        </div>
    </div>

</div>








    

      <div>
        <h3>Wallets</h3>
      </div>
      <div class="card-section">
        <ul>
          <li>
            <a href="#">
              <p>CASH</p>
              <h5>₹ 8,500</h5>
             <mat-icon class="icon-display">create</mat-icon>
             <mat-icon>delete</mat-icon>
             <mat-icon>speaker_notes</mat-icon>
            </a>
          </li>
         </ul>
      </div>
    </section>

<section class="walletcard-section">
    <div class="walletcard">
    <div class="loader">
        <mat-spinner color="primary" [value]="80"></mat-spinner>
      </div> -->