.icon_content {
  width: calc(100% - 40px);
  padding: 20px;
  .icon_background {
    background-color: #f4f5f6;
    margin: 1%;
    color: rgba(255, 23, 68, 0.5);
    float: left;
    border-radius: 50%;
    padding: 15px 15px 10px;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: rgb(255, 23, 68);
    }
  }
}
h3 {
  color: #253a4b;
  font-size: 24px;
  font-family: "Montserrat";
  text-align: left;
  margin: 0px;
  margin: 10px 0 40px;
  opacity: 0.6;
}
.icon-close {
  float: right;
  cursor: pointer;
  .material-icons {
    font-size: 1.25em;
    color: rgb(255, 23, 68);
  }
}
