<!-- <header class="header_section">
  <div class="logo">
    <img src="../../../assets/logo_sm.png" />
  </div>
  <div class="notification_section">
    <ul>
      <li>
        <a href="#"><img src="../../../assets/img_icon_search.png" /></a>
      </li>
      <li>
        <a href="#"><img src="../../../assets/img_icon_notification.png" /></a>
      </li>
      <li>
        <a href="#"><img src="../../../assets/img_icon_settings.png" /></a>
      </li>
      <li>
        <a href="#"><img src="../../../assets/img_profile.png" /></a>
      </li>
    </ul>
  </div>
</header> -->
<mat-toolbar>
  <mat-toolbar-row>
    <div class="logo">
      <img src="../../../assets/logo.png" />
    </div>
    <span class="example-spacer"></span>
    <button
      mat-flat-button
      class="btn-rounded"
      (click)="openAddExpense()"
      color="primary"
    >
      Add Expense
    </button>
    <div class="nav-top-right" fxLayout="row" fxLayoutAlign="end center">
      <a mat-button class="button-default nav-top-right-button mr-40">
        <mat-icon class="icon-display">search</mat-icon>
      </a>
      <!-- <a
        mat-button
        class="btn-notification button-default nav-top-right-button mr-40"
      >
        <mat-icon class="icon-display">notifications_none</mat-icon>
        <span
          matBadge="4"
          matBadgeColor="warn"
          matBadgeOverlap="false"
          class="notification-badge"
        ></span>
      </a> -->
      <a mat-flat-button class="button-default nav-top-right-button mr-40">
        <mat-icon class="icon-display">settings</mat-icon>
      </a>
      <a
        mat-button
        [matMenuTriggerFor]="userName"
        class="username nav-top-right-button"
      >
        {{ name }}
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true"
          >keyboard_arrow_down</mat-icon
        >
      </a>
      <mat-menu
        #userName="matMenu"
        overlapTrigger="false"
        xPosition="before"
        class="nav-top-right-button"
      >
        <button (click)="logoutUser()" mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
