<mat-list class="app-sidenav">
  <a mat-list-item href="#">
     <mat-icon matListIcon>equalizer</mat-icon>
     <h4 matLine>Dashboard</h4>
  </a>
  <a mat-list-item href="#">
     <mat-icon matListIcon>list_alt</mat-icon>
     <h4 matLine>Agreements</h4>
  </a>
  <a mat-list-item href="#">
     <mat-icon matListIcon>assignment</mat-icon>
     <h4 matLine>Orders</h4>
  </a>
  <a mat-list-item href="#">
     <mat-icon matListIcon>credit_card</mat-icon>
     <h4 matLine>Billing</h4>
  </a>
  <a mat-list-item href="#">
     <mat-icon matListIcon>shuffle</mat-icon>
     <h4 matLine>Facilities</h4>
  </a>
  <a mat-list-item href="#">
     <mat-icon matListIcon>devices_other</mat-icon>
     <h4 matLine>Devices</h4>
  </a>
  <a mat-list-item href="#">
     <mat-icon matListIcon>person_outline</mat-icon>
     <h4 matLine>Accounts</h4>
  </a>
</mat-list>