<div class="dashboard_menu">
  <ul>
    <li>
      <a routerLink="/app/home" routerLinkActive="active"
        ><span class="material-icons"> bar_chart </span><br />
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/app/category" routerLinkActive="active"
        ><span class="material-icons"> layers </span><br />
        Category
      </a>
    </li>
    <li>
      <a href="#"
        ><span class="material-icons"> list_alt </span><br />
        Reports
      </a>
    </li>
    <li>
      <a href="#"
        ><img src="../../../assets/img_icon_budgets.png" /><br />
        Budgets
      </a>
    </li>
    <li>
      <a routerLink="/app/wallets" routerLinkActive="active"
        ><span class="material-icons"> account_balance_wallet </span><br />
        Wallets
      </a>
    </li>
    <li>
      <a href="#"
        ><span class="material-icons"> phone </span><br />
        Support
      </a>
    </li>
  </ul>
</div>
