<div class="add-box">
  <h4>Add Wallet</h4>
  <div class="form-box">
    <form class="form-field">
      <div class="txt">
        <mat-form-field class="textbox">
          <mat-label>name</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="walletList.name"
            name="name"
          />
        </mat-form-field>
        <mat-form-field class="textbox">
          <mat-label>amount</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="walletList.amount"
            name="amount"
          />
        </mat-form-field>
        <mat-form-field class="textbox">
          <mat-label>notes</mat-label>
          <textarea
            matInput
            type="textarea"
            [(ngModel)]="walletList.description"
            name="description"
            style="height: 75px;"
          ></textarea>
        </mat-form-field>
      </div>
    </form>

    <button
      mat-flat-button
      (click)="addWallet(walletList)"
      class="btn-rounded"
      color="primary"
    >
      Save
    </button>
  </div>
</div>
