<div class="add-box">
    <h4>Add Wallet</h4>
    <div class="form-box">
      <form class="form-field">
        <div class="txt">
        <mat-form-field class="textbox">
          <mat-label>name</mat-label>
          <input matInput type="text" name="name" >
        </mat-form-field>
        <mat-form-field class="textbox">
          <mat-label>amount</mat-label>
          <input matInput type="text" name="amount">
        </mat-form-field>
        <mat-form-field class="textbox" >
          <mat-label>notes</mat-label>
          <textarea matInput type="textarea" name="notes"  style="height: 75px;" ></textarea>
        </mat-form-field>
      </div>
      </form>
    
    <button mat-flat-button class="right-button">SAVE</button>
    
    </div>
      </div>