<section class="dashboard_section">
  <div class="welcome_section">
    <div>
      <h3>Hello,<span>Balaji K C</span></h3>
      <br />
      <h5>Biggest Expense<span>Category</span></h5>
    </div>
    <div class="category_section">
      <ul>
        <li>
          <a href="#">
            <img class="img movie" />
            <p>Movie</p>
            <h5>₹ 8,000</h5>
          </a>
        </li>
        <li>
          <a href="#">
            <img class="img grocery" />
            <p>Grocery</p>
            <h5>₹ 3,000</h5>
          </a>
        </li>
        <li class="active">
          <a href="#">
            <img class="img food" />
            <p class="white_text">Food</p>
            <h5 class="white_text">₹ 1,000</h5>
          </a>
        </li>
        <li>
          <a href="#">
            <img class="img travel" />
            <p>Travel</p>
            <h5>₹7,500</h5>
          </a>
        </li>
        <li>
          <a href="#">
            <img class="img dineout" />
            <p>Dineout</p>
            <h5>₹ 2,250</h5>
          </a>
        </li>
        <li>
          <a href="#">
            <img class="img hotel" />
            <p>Hotel</p>
            <h5>₹ 7,500</h5>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h5>Spending<span>Last 30 Days</span></h5>
    </div>
    <div class="chart_image_section">
      <img src="../../../assets/img_spend_chart.png" />
    </div>
  </div>
  <div class="budjet_section">
    <div>
      <p>Budget</p>
    </div>
    <div class="budjet_content">
      <ul>
        <li>Total Budjet</li>
        <p>₹ 18,500</p>
        <li>Expense</li>
        <p>₹ 9,250</p>
      </ul>
      <div>
        <img src="../../../assets/img_pie_chart.png" />
        <h4>48%<br />spend</h4>
      </div>
    </div>
    <div class="activity_section">
      <div>
        <p>Activity</p>
      </div>
      <div class="activity_content">
        <div class="icon_content">
          <div class="icon_background">
            <img src="../../../assets/img_cat_sm_car.png" />
          </div>
          <div class="activiy_list_items">
            <h3>Service Bill on Maruti Suzuki</h3>
            <p>₹ 9,250</p>
          </div>
        </div>
        <div class="icon_content">
          <div class="icon_background">
            <img src="../../../assets/img_cat_sm_car.png" />
          </div>
          <div class="activiy_list_items">
            <h3>Monthly grocery on More Super Market</h3>
            <p>₹ 9,250</p>
          </div>
        </div>
        <div class="icon_content">
          <div class="icon_background">
            <img src="../../../assets/img_cat_sm_food.png" />
          </div>
          <div class="activiy_list_items">
            <h3>Snacks and Cool Drinks - KFC</h3>
            <p>₹ 9,250</p>
          </div>
        </div>
        <div class="icon_content">
          <div class="icon_background">
            <img src="../../../assets/img_cat_sm_flight.png" />
          </div>
          <div class="activiy_list_items">
            <h3>Upwards ticket to Coimbatore</h3>
            <p>₹ 2,750</p>
          </div>
        </div>
        <div class="button">
          <a href="#">...</a>
        </div>
      </div>
    </div>
  </div>
</section>
