.dashboard_section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.welcome_section {
  width: 100%;
  max-width: calc(73% - 40px);
  h3 {
    color: #253a4b;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0px;
    margin: 10px 0px 40px 40px;
    opacity: 0.6;
    span {
      color: #253a4b;
      font-size: 48px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
      font-weight: normal;
      opacity: 0.5;
    }
  }
  h5 {
    color: #253a4b;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px 0px 40px 40px;
    span {
      float: right;
      color: #4d4f5c;
      font-size: 13px;
      text-align: left;
      padding: 5px 20px;
      border: 2px solid gray;
      border-radius: 4px;
    }
  }
  .category_section {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 70px;
        height: 70px;
        background-color: #f4f5f6;
        border-radius: 15px;
        text-align: center;
        margin-bottom: 100px;
        padding: 20px;
        cursor: pointer;
        a {
          text-decoration: none;
          .img {
            &.movie {
              content: url(../../../assets/img_cat_movie.png);
            }
            &.grocery {
              content: url(../../../assets/img_cat_grocery.png);
            }
            &.food {
              content: url(../../../assets/img_cat_food.png);
            }
            &.dineout {
              content: url(../../../assets/img_cat_dineout.png);
            }
            &.hotel {
              content: url(../../../assets/img_cat_hotel.png);
            }
            &.travel {
              content: url(../../../assets/img_cat_flight.png);
            }
          }
          p {
            color: #253a4b;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0px;
          }
          h5 {
            color: #f23b52;
            font-size: 14px;
            font-weight: bold;
            margin: 0px;
          }
        }
        &:hover,
        &.active {
          background-color: #f23b52;
          a {
            .img {
              &.movie {
                content: url(../../../assets/img_cat_wht_movie.png);
              }
              &.grocery {
                content: url(../../../assets/img_cat_wht_grocery.png);
              }
              &.food {
                content: url(../../../assets/img_cat_wht_food.png);
              }
              &.dineout {
                content: url(../../../assets/img_cat_wht_dineout.png);
              }
              &.hotel {
                content: url(../../../assets/img_cat_wht_hotel.png);
              }
              &.travel {
                content: url(../../../assets/img_cat_wht_flight.png);
              }
            }
            p,
            h5 {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.white_text {
  color: #fff !important;
}
.chart_image_section img {
  max-width: 100%;
  margin: -20px 0px 0px 40px;
}
.budjet_section {
  width: 100%;
  max-width: 27%;
  height: calc(100vh - 121px);
  background-color: #f2f2f2;
  border-top-left-radius: 30px;
  margin: 0 0 0 40px;
  p {
    color: #253a4b;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin: 30px 0px 20px 22px;
  }
  .budjet_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f23b52;
    width: 100%;
    max-width: 88%;
    margin: 0px auto;
    height: 200px;
    border-radius: 30px;
    ul {
      list-style-type: circle type bulleted;
      li {
        color: #fff;
        font-size: 1.5em;
        font-family: "Montserrat", sans-serif;
        margin: 20px 0 5px;
      }
      p {
        color: #253a4b;
        font-size: 0.75em;
        font-family: "Montserrat", sans-serif;
        margin: 20px 0 5px;
        opacity: 0.5;
      }
    }
    h4 {
      position: absolute;
      top: 55px;
      bottom: 0px;
      right: 60px;
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0px auto;
    }
  }
  .budjet_content img {
    max-width: 75%;
    margin-right: 30px;
  }
  .activity_content {
    position: relative;
    background-color: #fff;
    width: 100%;
    max-width: 88%;
    margin: 0px auto;
    height: 400px;
    border-radius: 30px;
    padding-top: 40px;
    .icon_content {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 75px;

      .icon_background {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #f4f5f6;
        margin: 0 10%;
        opacity: 0.5;
      }
      .activiy_list_items {
        width: calc(80% - 40px);
        h3 {
          color: #4d4f5c;
          font-size: 12px;
          font-family: Arial, Helvetica, sans-serif;
          padding: 0px;
          margin: 0px;
          max-width: 90%;
        }
        p {
          color: #f23b52;
          font-size: 12px;
          font-family: Arial, Helvetica, sans-serif;
          margin: 0px;
          padding: 0px;
        }
      }
    }
    .button {
      display: flex;
      justify-content: center;
      text-align: center;
      a {
        color: #fff;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-decoration: none;
        background-color: #f23b52;
        padding: 10px 70px;
        border-radius: 30px;
        margin-top: 30px;
      }
    }
  }
}
