<h2 mat-dialog-title>Edit Category</h2>
<mat-dialog-content>
  <div class="form-box">
    <form class="form-field">
      <div class="txt">
        <mat-form-field class="textbox">
          <mat-label>name</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="categoryList.name"
            name="name"
          />
        </mat-form-field>

      
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close class="btn-rounded" color="accent">
    Cancel
  </button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button
    mat-flat-button
    (click)="updateCategory(categoryList)"
    class="btn-rounded"
    color="primary"
  >
    Save
  </button>
</mat-dialog-actions>
