.category-box {
  display: inline;
  justify-content: space-between;


  h3 {
    color: #253A4B;
    font-size: 48px;
    font-family: 'Montserrat';
    opacity: 0.5;
    margin-left: 48px;
  }

  .category-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    background-color: rgb(238, 238, 238);
    border-radius: 30px;
    padding: 28.5px 30px;
    margin-top: 62px;
    float: left;
    margin-left: 48px;
    transition: background-color 0.6s ease;
    cursor: pointer;

    text-align: center;

    .category-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: space-between;
      cursor: pointer;

      .icon-holder {
        .mat-icon.icon-cat {
          width: 100%;
          font-size: 5em;
          text-align: center;
          color: #F23B52;
          font-size: 5em;
        }

        h4 {
          color: #253A4B;
          font-size: 18px;
          font-family: 'Montserrat';
          margin: unset;
          margin-top: 3px;
          text-align: center;
          font-weight: bold;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }




      .icon-visibility {
        display: none;
        justify-content: space-between;
      }

    }


    .category-icons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: rgb(165, 165, 165);
      cursor: pointer;

      .icon-display {
        display: flex;
        justify-content: space-between;
        font-size: 3em;
        color: rgb(165, 165, 165);
      }
    }

    &:hover {

      background-color: #F23B52;
      color: #fff;

      .category-content {
        .icon-holder {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .mat-icon.icon-cat {

            display: flex;
            color: #fff !important;
            font-size: 2em;
          }

          h4 {
            font-size: 18px;
            color: #fff;
            margin-top: 3px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            width: 272px;
          }
        }

        .icon-visibility {
          display: flex;
          color: #fff;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 40px;

          .icon-display {
            font-size: 2.2em;
          }
        }
      }

    }


  }


}
