.wallet-title{

    h3{
        color:#253A4B;
        font-size: 48px;
        font-family:'Montserrat';
        opacity: 0.5;
    padding-top: 111px;
   margin-left: 191px;
        }
}
.wallet{
    width: 100%;
    display: flex;
    justify-content: space-between;
    

   
    .wallet_left{
        display:flex;
        justify-content: space-between;
        width: 65%;
        height: 100%;
       
    }
    .right-side-content{
        width: 100%;
        max-width: 27%;
        height: calc(100vh - 121px);
        background-color: #f2f2f2;
        border-top-left-radius: 30px;
        margin: 0 0 0 40px;
    }
}