<div class="add-category_bg">
  <div class="add-category">
    <h4>Add Category</h4>
  </div>
  <div class="form-box">
    <form class="form-field">
      <div class="txt">
        <mat-form-field class="mt-20">
          <mat-label>name</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="categoryList.name"
            name="name"
          />
        </mat-form-field>
        <mat-form-field class="mt-20">
          <mat-label>icon</mat-label>
          <input
            matInput
            disabled
            (click)="selectIcon()"
            type="text"
            [(ngModel)]="categoryList.icon"
            name="icon"
          />
          <mat-icon class="cursor-link" (click)="selectIcon()" matSuffix
            >insert_emoticon</mat-icon
          >
        </mat-form-field>
      </div>
    </form>
    <div class="button">
      <button
        mat-flat-button
        class="btn-rounded"
        color="primary"
        (click)="addCategory(categoryList)"
      >
        SAVE
      </button>
    </div>
  </div>
  <div class="budjet_section">
    <div class="activity_section">
      <div>
        <p>Activity</p>
      </div>
      <div class="activity_content">
        <div class="icon_content">
          <div class="icon_background">
            <img src="../../../assets/img_cat_sm_car.png" />
          </div>
          <div class="activiy_list_items">
            <h3>Service Bill on Maruti Suzuki</h3>
            <p>₹ 9,250</p>
          </div>
        </div>
        <div class="icon_content">
          <div class="icon_background">
            <img src="../../../assets/img_cat_sm_car.png" />
          </div>
          <div class="activiy_list_items">
            <h3>Monthly grocery on More Super Market</h3>
            <p>₹ 9,250</p>
          </div>
        </div>
        <div class="icon_content">
          <div class="icon_background">
            <img src="../../../assets/img_cat_sm_food.png" />
          </div>
          <div class="activiy_list_items">
            <h3>Snacks and Cool Drinks - KFC</h3>
            <p>₹ 9,250</p>
          </div>
        </div>
        <div class="icon_content">
          <div class="icon_background">
            <img src="../../../assets/img_cat_sm_flight.png" />
          </div>
          <div class="activiy_list_items">
            <h3>Upwards ticket to Coimbatore</h3>
            <p>₹ 2,750</p>
          </div>
        </div>
        <div class="button">
          <button mat-flat-button class="btn-rounded" color="primary">
            MORE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
