<div class="add-box">
    <h4>Add Budget</h4>

    <div class="form-box">
      <form class="form-field">
        <div class="txt">
          <mat-form-field appearance="fill"  >
            <mat-label>Select a name</mat-label>
          
            <mat-select >
       <span *ngFor="let category of categoryList" >
                 <mat-option   data-icon="categoryList.icon" [value]="category._id" id="id"
                (click)="getId(category)"
                 
                >  
               {{category.name}}
               
              </mat-option>
            </span>
            </mat-select>
            
          </mat-form-field>
          
          
          <mat-form-field class="textbox">
            <mat-label>amount</mat-label>
            <input
              matInput
              type="number"
              id="amount"
              name="amount"
              [(ngModel)]="budgetList.amount"
            />
          </mat-form-field>
          
        </div>
      </form>
    
      <button
        mat-flat-button
        
        class="btn-rounded"
        color="primary"
        (click)="addBudget(budgetList )"
      >
        Save
      </button>
    </div>
    </div>