.add-box {
    width: 100%;
    height: 120%;
    border-radius: 30px;
    background-color: #f2f2f2;
  
    h4 {
      font-family: "Montserrat";
      font-size: 18px;
      color: #253a4b;
      font-weight: bold;
      padding: 60px 0 0 58px;
    }
    .form-box {
      width: 80%;
      background-color: white;
      margin: 30px 57px 0px 58px;
      border-radius: 30px;
      padding-bottom: 30px;
      text-align: center;
      .form-field {
        .txt {
          padding: 30px;
          .textbox {
            width: 97%;
          }
          ::ng-deep
            .mat-focused
            .mat-form-field-underline
            .mat-form-field-ripple {
            background-color: #f23b52 !important;
          }
          ::ng-deep input.mat-input-element {
            color: #4d4f5c;
          }
        }
      }
    }
  }
  