th.mat-header-cell {
  background: mat-color($mat-grey, 50, .9);
  color: mat-color($mat-grey, 500, .9);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
td.mat-cell {
  font-size: 13px;
  color: mat-color($mat-grey, 600, 1);
}
.mat-table{width:100%;}
