/* You can add global styles to this file, and also import other style files */
@import "theme/app-mat-theme";
@import "theme/app-utilities";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Muli";
}

//Application common styles
app-linked-accounts,
.full-width,
app-history {
  width: 100%;
}
//Common classes
.white-color {
  color: $light-primary-text;
}
.app-color {
  color: mat-color($app-primary);
}
.app-bg {
  background: mat-color($app-primary);
}
.app-text-color {
  color: mat-color($mat-grey, 600, 1);
}
.app-border-box {
  border: 1px solid #ddd;
}
.divider {
  height: 100%;
}
.mat-card {
  margin-bottom: 20px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.notification-custom-styles {
  padding: 4% 5% 4% 4% !important;
  background-image: none !important;
}
.notification-success {
  background-color: #00c851 !important;
  color: $light-primary-text;
}
.notification-error {
  background-color: #ff4444 !important;
  color: $light-primary-text;
}
.notification-info {
  background-color: #33b5e5 !important;
  color: $light-primary-text;
}
.notification-warning {
  background-color: #ffbb33 !important;
  color: $light-primary-text;
}

.position-relative {
  position: relative !important;
}

.main-container {
  width: 100%;
  height: calc(100vh - 100px);
}

.mat-drawer-content {
  padding: 20px 0 0 20px;
  height: calc(100% - 20px) !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-drawer-side {
  border-right: 0;

  &.mat-drawer-end {
    border-left: 0;
    border-right: none;
  }
}
.mat-drawer-container {
  background-color: $light-primary-text;
}

.eliya_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  .left_content {
    width: 100%;
    max-width: calc(73% - 40px);
    h3 {
      color: #253a4b;
      font-size: 48px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
      margin: 0px;
      margin: 10px 0px 40px 40px;
      opacity: 0.6;
      span {
        color: #253a4b;
        font-size: 48px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        font-weight: normal;
        opacity: 0.5;
      }
    }
  }
  .right_content {
    width: 100%;
    max-width: 27%;
    height: calc(100vh - 121px);
    background-color: #f2f2f2;
    border-top-left-radius: 30px;
    margin: 0 0 0 40px;
  }
}
.mat-flat-button.btn-rounded {
  height: 32px;
  border: none;
  border-radius: 33px !important;
  font-family: "Montserrat" !important;
  font-size: 1em !important;
  cursor: pointer;
  outline: none;
  min-width: 100px;
  padding: 0 24px;
  line-height: 32px;
}
.mat-dialog-container {
  border-top: 10px solid #ff1744;
  border-radius: 3px;
}
.mat-dialog-title {
  color: rgba(37, 58, 75, 0.6);
  text-align: center;
}
